body {
  background-color: #000000;
  color: #ffffff;
}

canvas {
  background-color: #000000;
  display: block;
  margin: 0 auto;
  width: 640px;
}

a {
  color: #ffffff;
}

#title {
  text-align: center;
}
