/* Styles */


body {
  background-color: #000000;
  color: #ffffff;
  font-family: monospace;
}

canvas {
  background-color: #000000;
  display: block;
  margin: 0 auto;
  width: 640px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

#title,
#title div {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#title a {
  padding: 1rem;
}
